<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffffff">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="Mind controlled by non-human intelligences, secret societies, and the government. Help by donating.">
    <style>
        @media (min-width: 768px) {
    body {
        max-width: 40%;
        margin: 0 auto;
    }
}
    </style>
    {% feed_meta %}
</head>
  <body>
    {{ content }}
  </body>
</html>
